# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
## ordered list

1. Python
2. R
3. SQL
4. Java

# Create a markdown cell to list data science languages

1. Pyhton
2. R
3. SQL
4. Java

# Some of the commonly used libraries used by Data Scientists include:
# ordered list

1. NumPy
2. Keras
3. Pandas
4. PyTorch
5. SciPy

# Data Science Tools

 | Data Science Tools |
 |      :----:        |
 | SAS. It is one of those data science tools which are specifically designed for statistical operation |
 | Apache Spark                                                                                         |
 | BigML                                                                                                |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# Arithmetic operations
code = compile("6 + 3", "<string>", "eval")
eval(code)

9

In [6]:
code1 = compile("(3 + 7) * 5", "<string>", "eval")
eval(code1)

50

In [7]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)

65449.84694978735

This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5 
# Results: 17

17

This will convert 200 minutes to hours by diving by 60

In [13]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

Create a markdown cell to indicate the Author's name

## Author:
Jayasree